body,
h1,
h2,
h3,
h4,
h5,
h6,
li,
p {
  margin: 0;
  padding: 0;
}

html, body{
  width: 100%;
  padding:0;
  margin:0;
}

a {
  color: inherit;
  text-decoration: none;
}

nav {
  max-width: 100%;
  align-items: center;
  
  height: 100px;
}

.invis{
  background: transparent;
  border: none;
  visibility: hidden;
  width: 125px;
  font-size: 32px;
}

.invis-clickable{
  background: transparent;
  border: none;
  cursor: pointer;
  width: 125px;
  font-size: 32px;
  height:100%;
  transition-duration: 0.4s;
}

nav.box{
  position: static;
  top: 0;
  display: flex;
  justify-content: space-between;
  border: 10px solid;
  border-image-slice: 1;
  border-width: 5px;
  border-image-source: linear-gradient(to left, #03f9f5, #9000fe);
}


#notes-list a:hover, #notes-list a.active {
  background: silver;
}

#cont-time{
  padding-left: 30px;
  border-bottom: 2px solid silver;
}

#cont-body{
  height: 100vh;
  padding-left: 30px;
}