body,
h1,
h2,
h3,
h4,
h5,
h6,
li,
p {
  margin: 0;
  padding: 0;
}

html, body{
  width: 100%;
  padding:0;
  margin:0;
}


a {
  color: inherit;
  text-decoration: none;
}

h1{
  display: grid;
  align-content: center;
}


nav {
  max-width: 100%;
  align-items: center;
  
  height: 100px;
}

.invis{
  background: transparent;
  border: none;
  visibility: hidden;
  font-size: 32px;
  margin: 3%;
}

.invis-clickable{
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 32px;
  transition-duration: 0.4s;
  margin: 3%;
}

.invis-clickable:hover{
  color:#9000fe;
}

nav.box{
  top: 0;
  display: flex;
  justify-content: space-between;
  border: 10px solid;
  border-image-slice: 1;
  border-width: 5px;
  border-image-source: linear-gradient(to left, #03f9f5, #9000fe);
}


#notes-list a:hover, #notes-list a.active {
  background: silver;
}

#cont-time{
  padding-left: 30px;
  border-bottom: 2px solid silver;
}

#cont-body{
  height: 100vh;
  padding-left: 30px;
}

.sidebar-header {
  display: flex;
  flex-direction: row;
  width:100%;
}
.left-cont {
  display: flex;
  flex-direction: column;
  left:0;
  width: 20%;
  border-right: 2px solid darkgrey;
  height: 100vh;
}

.right-cont {
  width:100%;
}

.right-cont h2 {
  padding-left: 7%;
  color: silver;
  margin: 20%;
}

.ql-toolbar.ql-snow{
  border-left: none;
}
.ql-snow{
  border-left: none !important;
  border-right: none !important;
}
.ql-editor{
  height: 100vh !important;
}

.left-header-sidebar {
  padding-left: 7%;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 2px solid silver;
}

.add-button{
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 32px;
  height:100%;
  transition-duration: 0.4s;
  width: 60px;
  height:60px;
  padding: 0;
}
.add-button:hover{
  background-color: #9000fe;
  color: white;
}

.left-cont li{
  font-size: larger;
  padding-top: 30px;
  padding-bottom: 30px;
  list-style-type: none;
  padding-left: 7%;
  transition-duration: 0.3s;
}
.left-cont li:hover{
  background-color: #9000fe;
  color: white;
  transition-duration: 0.3s;
}

.left-cont ul {
  margin:0;
  padding:0;
}

.hidden{
  visibility: none;
}

.sidebar-note.active {
  background: #9000fe;
  color: white;
}

.edit-button{
  background: transparent;
  border: none;
  font-size: large;
  cursor: pointer;
  height:85px;
  transition-duration: 0.4s;
  width: 85px;

  padding: 0;
}

.edit-button:hover{
  background-color: #9000fe;
  color: white;
}

#header-edit{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#title-calendar{
  display:flex;
  flex-direction: column;
}

#title-input{
  border-style: none;
  outline: 1px solid silver;
  font-size: larger;
  padding: 7px;
  margin: 5px;

}
#calendar-input{
  border-style: none;
  outline: none;
  margin: 10px;
}